{% extends 'admin/index-2.html' %}
{% block body %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<form action="" method="post">

  
<table width="200" border="3" class="table table-hover" style="font-size:130%" >
  <tr>
    <th scope="col">COMPLAINT REPLY</th>
  </tr>
  <tr>
    <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" class="form-control" cols="45" rows="5" required></textarea></td>
  </tr>
  <tr>
    
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Submit" class="btn btn-outline-primary" /></th>
  </tr>
</table>





</form>










</body>
</html>
{% endblock %}