{% extends 'admin/index-2.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>


{#<table width="200" border="3">#}
{#  <tr>#}
{#    <th scope="row"><a href="/User_details">VIEW USERS</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/admin_trust_review">TRUST SCORE REVIEW</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/complaint_reply">RESPONSE TO COMPLAINT</a></th>#}
{#  </tr>#}
{#</table>#}

</body>
</html>
{% endblock %}