{% extends 'user/index-2.html' %}
{% block body %}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>



<form action="" method="post">
<table width="200" border="3" class="table table-hover" style="font-size:130%">
  <tr>
    <th scope="row">Patient Name</th>
    <td><label for="textfield"></label>
      {{ uname }}</td>
  </tr>
 
  <tr>
    <th scope="row">Age</th>
    <td><label for="textfield13"></label>
      <!--{{ uage }} -->
        <input type="text" name="textfield13" id="textfield13" /></td>
  </tr>
    <tr>
    <th scope="row">Gender</th>
    <td><label for="textfield12"></label>
     {{ ugender }}</td>
  </tr>
  <tr>
    <th scope="row">Building No</th>
    <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
  </tr>
  <tr>
    <th scope="row">Road name</th>
    <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" /></td>
  </tr>
   <tr>
    <th scope="row">City</th>
    <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" /></td>
  </tr>
  <tr>
    <th scope="row">State</th>
    <td><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" /></td>
  </tr>
  <tr>
    <th scope="row">Pincode</th>
    <td><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" /></td>
  </tr>
  <tr>
    <th scope="row">Emergency Contact</th>
    <td><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" /></td>
  </tr>
 <tr>
    <th scope="row">Mail ID</th>
    <td><label for="textfield9"></label>
      {{ umail }}</td>
  </tr>
 
  <tr>
    <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="Update" /></th>
    </tr>
  
</table>
</form>
</body>
</html>
{% endblock %}